@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{

    overflow-x: hidden;
    overflow-y: hidden;
}

.animeLeft{

    animation: anime .3s forwards;
    }

    @keyframes anime{

    from{

        transform: translateX(-20px);
        opacity: 0;
    }

    to{

        transform: initial;
        opacity: initial;
    }
    }
